*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Regole CSS*/

:root{
    --bg-color-primary:rgb(27,114,232);
    --bg-color-secondary:rgb(22,88,180);
    --bg-color-cnt:rgb(248,249,250);
    --bg-color-aside:rgb(7,32,54);
}

header{
    height: 70px;
}

aside{
    width: 60px;
    height: calc(100vh - 70px);
    background-image: url(../img/sidebar-bg.png);
    background-color:var(--bg-color-aside);
}

#cnt{
    height: calc(100vh - 70px);
    width: calc(100% - 60px);
    background-color:var(--bg-color-cnt) ;
}

#top-bar{
    background-color: var(--bg-color-primary);
}

.badgeboo{
    background-color: var(--bg-color-secondary);
}









/*Regole Responsive*/

@media screen and (min-width:992px){
    
    aside{
        width: 150px;
    }
    
    
    #cnt{
        width: calc(100% - 150px);
    }

    #row-1{
        width: 60%;
    }
    
    #row-2{
        width: 40%;
    }
    
}