*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Debug*/

.debug aside{
    background-color: black;
}

.debug #cnt{
    background-color: yellow;
}

/*Regole CSS*/

:root{
    --bg-color-primary:rgb(27,114,232);
}

header{
    height: 70px;
}

aside{
    width: 60px;
    height: calc(100vh - 70px);
}

#cnt{
    height: calc(100vh - 70px);
    width: calc(100% - 60px);
}

#top-bar{
    background-color: var(--bg-color-primary);
}

 







/*Regole Responsive*/

@media screen and (min-width:992px){
    
    aside{
        width: 150px;
    }
    
    
    #cnt{
        width: calc(100% - 150px);
    }
    
}